@import 'mediaQueries';
/* WebKit-based browsers (Chrome, Safari) */
::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: rgb(36, 31, 98);
}

::-webkit-scrollbar-thumb {
    background: #7f00ff; /* fallback for old browsers */
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(180deg, #3a0ca3 0%, #0c72fb 100%);
}

/* Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: #6a11cb linear-gradient(rgb(21, 13, 107) 1.1%, rgb(188, 16, 80) 130.5%);
}

html, body {
    height: 100%;
    width:100%;
    margin: 0;
    padding: 0;
    background: linear-gradient(76.8deg, rgb(121, 45, 129) 3.6%, rgb(36, 31, 98) 90.4%);
    color: #ddd;
    font-family: 'League Spartan', sans-serif;
    text-align: center;
    overflow-x: hidden;
    -ms-overflow-style: -ms-autohiding-scrollbar;
}

body {
    
    min-height: 100%;
   
    display: flex;
    flex-direction: column;
   
}

main {
    flex: 1;
}

/* Ensure sections do not overlap */
section {
    width: 100%;
    margin: 40px 0; /* Ensure enough space between sections */
    padding: 20px;
    box-sizing: border-box;
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

section.visible {
    opacity: 1;
    transform: translateY(0);
}

.container {
    width: 90%;
    margin: 0 auto;
    
}

h5 {
    font-family: 'Space Mono', monospace;
    position:relative;
    font-size: 1.5rem;
    color: #b0b0b0;
   
    padding-bottom: 10px;
}

h5::after {
    content: '';
    display: block;
    width: 50%;
    height: 1px;
    background: rgba(255, 255, 255, 0.2);
    position: relative ;
    bottom: 0;
    left: 0;
}

h2 {
    color: white;
}
.about-me-container{
    margin-top: 50px;
   
}
.about-me-container h3 {
    color: rgb(153, 68, 230);
}
.about-me-container p{
    font-size:1.5rem;
}
.numbered-Sections {
    color: rgb(235, 18, 180);
}

.boldColor {
    color: rgb(235, 18, 180);
    font-weight: bold;
}

.about img {
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.photo-container {
    position: relative;
    display: inline-block;
    width: 45%;
}

.portfolio-photo {
    transition: transform 0.5s linear, filter 1s ease-in-out;
    position: relative;
    filter: grayscale(100%);
    max-width: 100%;
}

.photo-container:hover .portfolio-photo {
    transform: translate(-10px, -10px);
    filter: grayscale(0%);
}

.photo-container:hover .thumbtack {
    top: 10px;
    left: calc(60% + 10px);
    transform: translate(-60%, -10px);
}

.thumbtack {
    position: absolute;
    top: 15px;
    left: 60%;
    transform: translateX(-60%);
    width: 75px;
    height: 50px;
    z-index: 1;
    transition: top 0.5s linear, left 0.5s linear, transform 0.5s linear;
}
.skills-container {
    margin-top: 50px;
    width: 90%;
    padding: 20px;
}


.skills-intro {
    margin-bottom: 20px;
    color: #b0b0b0;
    text-align: left;
}

.skills-container p {
    width:70%;
    font-size: 1.6rem;
}


.skills-section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    gap: 10px;
}

.skills-item {
    display: flex;
    align-items: center;
    margin-bottom: 30px; 
}

.skills-item h4 {
    font-size: 1.5rem;
    color: rgb(153, 68, 230) ;
    margin: 0;
    width: 150px; 
    text-align: left;
    line-height: 1.5rem; 
}

.skills-item ul {
    font-size: 1.5rem;
    text-align: start;
    list-style: none;
    padding: 0;
    margin: 0;
    color: #b0b0b0;
    line-height: 1.5rem; 
}


.scramble {
    display: inline-block;
    font-size: 1.5rem;
    white-space: nowrap;
    overflow: hidden;
    cursor: pointer;
    position: relative;
    transition: all 0.10s ease-in-out;
    color: #b0b0b0;
}

.scramble:hover,
.scramble:active {
    color: #ff4081;
}



.projects {
    margin-top: 50px;
}

.projects-container {
    margin: 40px auto;
    width: 90%;
    padding: 20px;
}

.polaroid-card {
    position: relative;
    margin: 20px;
    padding: 10px;
    background-color: rgb(48, 25, 52);
    transition: transform 0.3s, border-color 0.3s, box-shadow 0.3s, border-radius 0.3s;
    border: 5px solid transparent;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 90%;
}

.polaroid-card:hover {
    transform: scale(1.05);
    border-color: transparent;
    border-radius: 15px;
    box-shadow: 0 0 50px rgba(127, 0, 255, 0.7);
}
.polaroid-card img {
    max-width: 100%;
    height: 60%;
   
}




.polaroid-card .card-body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    flex-grow: 1;
    position: relative;
    padding-bottom: 40px;
}

.polaroid-card .card-body .githubLogo {
    width: 30px;
    height: 30px;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
}

.polaroid-card .card-body h5 {
    color: white;
    font-family: 'League Spartan', sans-serif;
}

.polaroid-card .card-body a {
    display: flex;
    align-items: center;
    justify-content: center;
}
#changeImg {
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.fade-out-up {
    opacity: 0;
    transform: translateY(-10px);
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.fade-in-up {
    opacity: 1;
    transform: translateY(0);
    transition: opacity 0.3s ease, transform 0.3s ease;
}



.polaroid-card .card-title {
    margin-bottom: 0.5rem;
}

.polaroid-card .card-text {
    margin-bottom: 1rem;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.contact-container {
    margin-top: 30%;
    padding: 20px;
}
.contact-container .btn {
    font-size: 1.25rem;
    background: rgb(235, 18, 180);
    border: none;
    padding: 10px 20px;
    transition: background 0.3s ease, box-shadow 0.3s ease;
}

.contact-container .btn:hover {
    background: rgb(153, 68, 230); 
    box-shadow: 0 0 15px rgba(153, 68, 230, 0.7); 
}
.position-relative {
    position: relative;
}
